.formBody {
  margin-left: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    margin-bottom: 1em;
    label {
      display: block;
      margin-right: 2em;
      width: 5em;
    }
  }
}

.formFooter {
  margin-left: 2em;
  button {
    width: 8em;
    height: 3em;
    margin-right: 2em;
  }
}
