<div class="container">
  <h3>Terms Of Use</h3>
  <p>
    Etsy’s Services connect people around the world, both online and offline, to
    make, sell, and buy unique goods. Here’s a handy guide to help you
    understand the specific rules that are relevant for you, depending on how
    you use the Services: Our House Rules for Everyone. If you use any of our
    Services, you agree to these Terms, our Privacy Policy, and our
    Anti-Discrimination Policy. Our House Rules for Sellers. If you list any
    items for sale through our Services, these policies apply to you. You can
    read them here. Our House Rules for Buyers. If you use our Services to
    browse or shop, these policies apply to you. You can read them here. Our
    House Rules for Third Parties. These policies apply to intellectual property
    owners, Etsy API users, affiliates, and anyone requesting information from
    Etsy. Search and Advertising Ranking Disclosures. This is a concise summary
    of how Etsy organises search results and advertising results that could
    include Your Content. All of these policies are a part of our Terms, so be
    sure to read the ones that are relevant for you. Of course, you’ll still
    want to read the rest of this document because it applies to everyone!
  </p>
</div>
