<div class="container">
  <h3>FAQ</h3>
  <h5>Can I edit any information after I made the order?</h5>
  <p>
    Yes, just email example@gmail.com and we'll be happy to help you. Replies
    take up to 48 hours.
  </p>
  <h5>Where do you ship?</h5>
  <p>
    If your country does not appear on the mailing options, just reach out to
    example@gmail.com and we can arrange a custom shipping order.
  </p>
  <h5>I'm missing the order information, when will I get it?</h5>
  <p>
    Our orders are filled out all by hand, so please allow us some time to
    fulfill your order. If you think we forgot, please email us at
    example@gmail.com.
  </p>
  <h5>Will you release any new products soon?</h5>
  <p>
    Please check out our social media pages on Youtube, Tiktok, and Instagram
    @HaroMaia
  </p>
</div>
